# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Log files
*.log
test_recordings/

# Downloaded Models Folder
faster_whisper_models/

# VS Code settings
.vscode/

# Gemini CLI memory file
GEMINI.md
